.cards{
    display: flex;
    justify-content: center;
}

.blog_title{
    font-weight: bold;
    margin-left: 20px;
    position: relative;
}

.blog_title::before{
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    position: absolute;
    left: 90px;
    top: 20px;
    background: black;
}